@import '../../../../resources/styles/pallete.scss';

$color-icon: $gray-2;

.info-icon {
  height: 12px;
  width: 12px;
  fill: $color-icon;
}

.profit-in-month-text {
  font-size: 10px;
}

@media screen and (min-width: 481px) {
  .tabs {
    display: none;
  }

  .profit-in-month-text {
    margin-bottom: 10px;
    color: #909090;
  }

  .info-icon {
    vertical-align: middle;
    margin-right: 4px;
  }

  .plan,
  .fact {
    text-align: left;
    font-weight: 500;
    padding-left: 6px;
  }

  .plan {
    font-size: 14px;
    color: rgba(39, 52, 105, 0.28);
  }

  .fact {
    font-size: 32px;
    color: #273469;
  }
}

@media screen and (max-width: 480px) {
  .profit-section {
    display: flex;
    flex-wrap: wrap;
  }

  .info-icon {
    display: none;
  }

  .profit-in-month-text {
    width: 100%;
    font-weight: 500;
  }

  .profit-in-month-text,
  .plan {
    color: #6c7cbe;
  }

  .plan,
  .fact {
    font-weight: 700;
  }

  .fact {
    font-size: 36px;
    margin-right: 6px;
  }

  .plan {
    order: 1;
    align-self: flex-end;
    transform: translateY(-5px);
    font-size: 14px;
    &::before {
      content: "из ";
    }
  }
}