@import '../../resources/styles/pallete.scss';

$color-button-bg: $orange-1;
$color-card-bg: $white-1;
$color-card-border-permanent: $violet-3;
$color-card-border-single: $blue-1;
$color-card-border-overdue: $red-1;
$color-action-icon-fill: $white-1;
$color-text: $blue-1;
$color-month-text: $white-1;
$color-month-bg: $blue-1;
$color-month-overdue-bg: $red-1;
$color-overdue-label-border: $red-1;
$color-overdue-label-text: $red-1;
$color-price: $blue-2;
$color-ic-expand: $violet-2;

.card {
  position: relative;
  padding: 13px 16px 8px 12px;
  border-width: 0;
  border-left-width: 8px;
  border-style: solid;
  border-radius: 6px;
  background-color: $color-card-bg;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07);
}

.card.single {
  border-color: $color-card-border-single;
}

.card.permanent {
  border-color: $color-card-border-permanent;
}

.card.overdue {
  border-color: $color-card-border-overdue;
}

.overdue-icon {
  margin-right: 8px;
  vertical-align: text-top;
}

.description {
  overflow: hidden;
  color: $color-text;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.full-text {
  white-space: normal;
  text-overflow: inherit;
  word-break: break-all;
}

.price,
.permanent-icon,
.month,
.overdue-label {
  vertical-align: middle;
}

.price {
  margin-right: 7px;
  font-size: 17px;
  font-weight: 700;
  color: $color-price;
  white-space: nowrap;
}

.month,
.overdue-label {
  padding: 0 4px 1px 4px;
  border-radius: 7px;
  font-size: 10px;
  text-transform: lowercase;
}

.month {
  background-color: $color-month-bg;
  color: $color-month-text;
}

.month.overdue {
  background-color: $color-month-overdue-bg;
}

.overdue-label {
  margin-left: 8px;
  background-color: transparent;
  border: 1px solid $color-overdue-label-border;
  color: $color-overdue-label-text;
}

.actions {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-flex;
  border-radius: 6px 0px;
  background-color: $color-button-bg;
  fill: $color-action-icon-fill;
}

.actions button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 21px;
}

.expand-button {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
  text-align: left;
}

.expand-icon {
  flex-shrink: 0;
  margin-left: 12px;
  fill: $color-ic-expand;
  transition: transform 150ms ease-in;

  &.expanded {
    transform: rotate(180deg);
  }
}

.last-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 96px;
}

@media screen and (min-width: 481px) {
  .card {
    border-left-width: 12px;
    border-radius: 9px;
    background-color: $color-card-bg;
  }

  .description {
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 20px;
  }

  .price {
    font-size: 20px;
  }

  .month {
    font-size: 11px;
  }

  .actions {
    border-radius: 9px 0;
  }

  .expand-icon {
    margin-top: 6px;
  }
}

@media screen and (max-width: 480px) {
  .description {
    margin-bottom: 3px;
    font-size: 12px;
    line-height: 16px;
  }

  .expand-icon {
    margin-top: 4px;
  }
}

@media screen and (min-width: 721px) {
  .card {
    display: inline-block;
    min-width: 312px;
    max-width: 100%;
  }
}
