@import '../../styles/pallete.scss';

$color-card-bg: $white-1;
$color-card-border-permanent: $violet-3;
$color-card-border-permanent-completed: $gray-5;
$color-card-border-single: $blue-1;
$color-card-border-single-completed: $gray-2;
$color-card-border-overdue: $red-1;
$color-text: $blue-1;
$color-price: $blue-2;
$line-height-description: 20px;
$line-height-description-mobile: 16px;

.card {
  position: relative;
  padding: 13px 16px 8px 12px;
  border-width: 0;
  border-left-width: 8px;
  border-style: solid;
  border-radius: 6px;
  background-color: $color-card-bg;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07);

  &.single {
    border-color: $color-card-border-single;

    &.completed {
      border-color: $color-card-border-single-completed;
    }
  }

  &.permanent {
    border-color: $color-card-border-permanent;

    &.completed {
      border-color: $color-card-border-permanent-completed;
    }
  }

  &.overdue {
    border-color: $color-card-border-overdue;
  }
}

.overdue-icon {
  margin-right: 8px;
  vertical-align: text-bottom;
}

.description {
  overflow: hidden;
  color: $color-text;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 0.2s ease-out;
}

.price {
  vertical-align: middle;
  margin-right: 7px;
  font-size: 17px;
  font-weight: 700;
  color: $color-price;
  white-space: nowrap;
}

.last-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 96px;
}

@media screen and (min-width: 481px) {
  .card {
    border-left-width: 12px;
    border-radius: 9px;
    background-color: $color-card-bg;
  }

  .description {
    margin-bottom: 6px;
    font-size: 14px;
    line-height: $line-height-description;
  }

  .price {
    font-size: 20px;
  }

  .expand-icon {
    margin-top: 6px;
  }
}

@media screen and (max-width: 480px) {
  .description {
    margin-bottom: 3px;
    font-size: 12px;
    line-height: $line-height-description-mobile;
    height: $line-height-description-mobile;
  }

  .expand-icon {
    margin-top: 4px;
  }
}

@media screen and (min-width: 721px) {
  .card {
    display: inline-block;
    min-width: 312px;
    max-width: 100%;
  }
}
