@import '../../../resources/styles/pallete.scss';

$color-icon: $violet-2;

.settings-button {
  display: flex;
  fill: $color-icon;
}

@media screen and (max-width: 480px) {
  .settings-button {
    display: none;
  }
}