.btn {
  height: 30px;
  padding: 0 12px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-default {
  background-color: #FFF;
  border: 1px solid #ECECEC;
}

.btn-complete {
  color: #FFF;
  background-color: #F79256;
}

.btn-delete {
  color: #FFF;
  background-color: #E25656;
}