$white-1: #FFF;

$black-1: #000;
$black-2: rgba(#000, 0.25);
$black-3: rgba(#000, 0.3);

$gray-1: #C4C4C4;
$gray-2: #909090;
$gray-3: #FAFAFF;
$gray-4: #F1F1F1;

$violet-1: #EFEAFF;
$violet-2: #8687B4;
$violet-3: #E4D9FF;

$orange-1: #F79256;

$blue-1: #273469;
$blue-2: #1E2749;