@import '../../styles/pallete.scss';

$color-dialog-box-shadow: $black-2;
$color-overlay-bg: $black-3;
$color-dialog-bg: $gray-3;
$color-dialog-bg-mobile: $white-1;

.popup-dialog {
  padding: 16px;
  border: none;
  box-shadow: 0px 10px 30px $color-dialog-box-shadow;
  overflow: hidden;

  &::backdrop {
    background-color: $color-overlay-bg;
  }
}

@media screen and (min-width: 481px) {
  .popup-dialog {
    width: 310px;
    border-radius: 10px;
    background: $color-dialog-bg;
  }
}

@media screen and (max-width: 480px) {
  .popup-dialog {
    width: 240px;
    border-radius: 6px;
    background-color: $color-dialog-bg-mobile;
  }
}
