@import '../../styles/pallete.scss';

$color-link-text: $violet-2;
$color-calendar-icon: $gray-2;

.link {
  font-size: 14px;
  color: $color-link-text;
  &:not(:hover) {
    text-decoration: none;
  }
}

.head {
  margin: 0 0 2px;
  font-size: 18px;
  font-weight: 400;
}

.date {
  z-index: 1;
  position: sticky;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
  margin: 0 -16px;
  background-image: linear-gradient(to bottom, $white-1, 95%, rgba(255, 255, 255, 0.5));
  font-size: 16px;
  font-weight: 400;
}

.calendar {
  fill: $color-calendar-icon;
}

.list {
  flex-grow: 1;
  padding-bottom: 16px;
}

@media screen and (max-width: 480px) {
  .link {
    position: fixed;
    right: 16px;
    bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 33px;
    border-radius: 22px;
    background-color: $blue-1;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.3);
    fill: $white-1;
  }

  .head {
    margin-top: 8px;
  }

  .date {
    :global(#root:has(#current-income:checked)) & {
      top: 130px;
    }

    :global(#root:has(#monthly-income:checked)) & {
      top: 196px;
    }
  }


  .list > li:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 481px) {
  .link {
    padding: 16px;
    background-color: $white-1;
  }

  .date {
    top: 34px;
  }

  .list > li:not(:last-child) {
    margin-bottom: 20px;
  }
}
