@import '../../resources/pallete.scss';

$color-button-bg: $orange-1;
$color-card-bg: $white-1;
$color-card-border-single: $violet-3;
$color-card-border-permanent: $blue-1;
$color-action-icon-fill: $white-1;
$color-text: $blue-1;
$color-month-text: $white-1;
$color-month-bg: $blue-1;
$color-price: $blue-2;

.card {
  position: relative;
  padding: 7px 24px 4px 9px;
  border-width: 0;
  border-left-width: 8px;
  border-style: solid;
  border-radius: 6px;
  background-color: $color-card-bg;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07);
}

.card.single {
  border-color: $color-card-border-permanent;
}

.card.permanent {
  border-color: $color-card-border-single;
}

.description {
  overflow: hidden;
  margin-bottom: 3px;
  font-size: 10px;
  color: $color-text;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.price,
.permanent-icon,
.month {
  vertical-align: middle;
}

.price {
  margin-right: 7px;
  vertical-align: top;
  font-size: 17px;
  font-weight: 700;
  color: $color-price;
}

.month {
  padding: 0 4px 1px 4px;
  border-radius: 7px;
  background-color: $color-month-bg;
  font-size: 10px;
  color: $color-month-text;
  text-transform: lowercase;
}

.actions {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-flex;
  border-radius: 6px 0px;
  background-color: $color-button-bg;
  fill: $color-action-icon-fill;
}

.actions button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 21px;
}

@media screen and (min-width: 481px) {
  .card {
    border-left-width: 12px;
    border-radius: 9px;
    background-color: $color-card-bg;
  }
  .description {
    font-size: 14px;
  }

  .price {
    font-size: 20px;
  }

  .month {
    font-size: 11px;
  }

  .actions {
    border-radius: 9px 0;
  }
}
