@import '../../../../styles/pallete.scss';

$color-ic-expand: $violet-2;

.expand-button {
  position: relative;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
  text-align: left;
  z-index: 0;

  transition: all .3s ease;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    left: -7px;
    z-index: -1;
    width: calc(100% + 14px);
    height: 100%;
    opacity: 0;
    background-color: rgba($violet-3, 36%);
    border-radius: 9px;
    transition: all .3s ease;

    [class*=completed] & {
      background-color: $gray-6;
    }
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }
}

.expand-icon {
  flex-shrink: 0;
  margin-left: 12px;
  fill: $color-ic-expand;
  transition: transform 150ms ease-in;

  &.expanded {
    transform: rotate(180deg);
  }
}

.full-text {
  white-space: normal;
  text-overflow: inherit;
  word-break: break-all;
  transition: all 0.2s ease-out;
}

@media screen and (min-width: 481px) {
  .expand-icon {
    margin-top: 6px;
  }
}

@media screen and (max-width: 480px) {
  .expand-icon {
    margin-top: 4px;
  }

  .expand-button {
    &::after {
      top: -2px;
    }
  }
}
