@import '../../../../styles/pallete.scss';

$color-btn-text: $white-1;

.container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $red-2;
  text-align: center;
}

.head {
  margin-top: 12px;
  margin-bottom: 72px;
  font-size: 14px;
  font-weight: 400;
  color: $white-1;
}

.button {
  border: 1px solid $white-1;
  color: $color-btn-text;
  transition: all 0.3s ease;

  &:hover {
    background-color: $white-1;
    color: $black-1;
  }
}

@media screen and (max-width: 480px) {
  .container {
    margin-top: auto;
    padding-top: 24px;
    padding-bottom: 16px;
    clip-path: ellipse(80% 100% at 50% 100%);
  }

  .button {
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 481px) {
  .container {
    display: grid;
    place-content: center;
    place-items: center;
    padding: 0 30px;
  }

  .button {
    padding: 6px 16px;
    border-radius: 4px;
    font-size: 14px;
  }
}

@media (hover: none) {
  .button:hover {
    background-color: transparent;
    color: $color-btn-text;
  }
}
