.header {
  flex-shrink: 0;
  padding: 16px 16px 0;
}

@media screen and (max-width: 480px) {

  .logo,
  .greeting {
    display: none;
  }

  .header {
    z-index: 10;
    position: sticky;
    top: 0;
    background-color: #fafaff;
  }

  .header::after {
    content: "";
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    background-image: linear-gradient(180deg, transparent 0%, #FAFAFF 100%);
  }
}

@media screen and (min-width: 481px) {
  .mobile-footer-icon {
    display: none;
  }

  .logo {
    margin-bottom: 20px;
  }

  .greeting {
    margin-bottom: 30px;
    font-size: 14px;
    color: #909090;
    text-align: center;
  }

  .greeting span {
    color: #000000;
  }
}

@media screen and (min-width: 481px) and (max-width: 720px) {
  .header {
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 721px) {
  .header {
    overflow-x: hidden;
    overflow-y: auto;
    position: sticky;
    top: 0;
    width: 168px;
    height: 100vh;
    text-align: center;
  }
}