@import '../../resources/styles/pallete.scss';

$color-alert-info-bg: $violet-1;
$color-alert-info-text: $violet-4;
$color-alert-info-close-btn: $violet-4;

.greeting {
  position: relative;
  margin-bottom: 20px;
  // padding: 16px;
  color: $color-alert-info-text;
  background-color: $color-alert-info-bg;
  fill: $color-alert-info-close-btn;
  font-size: 14px;
  line-height: 20px;
  border-radius: 10px;
}

.expand-button {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 16px;
  text-align: left;
  font-family: inherit;
  color: inherit;
}

.header-text {
  flex-grow: 1;
  margin: 0;
  padding-right: 13px;
  font-weight: 500;
}

.expand-icon {
  flex-shrink: 0;
  margin-top: 6px;
  transition: transform 150ms ease-in;
}

.expanded {
  transform: rotate(180deg);
}

.description {
  padding: 0 16px 10px;
  margin-top: -6px;
}

.auth-buttons {
  padding: 0 16px 16px;
  text-align: right;
  & > :not(:last-child) {
    margin-right: 8px;
  }
}

@media screen and (min-width: 481px) {
  .header-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .header-text {
    font-size: 14px;
  }

  .description-text {
    font-size: 12px;
  }
}
