@import '../../styles/pallete.scss';

@media screen and (max-width: 480px) {
  .statistics {
    position: relative;
    padding: 12px;
    border-radius: 12px;
    margin-top: 32px;
    background-image: radial-gradient(40.68% 329.69% at 56.42% 40.68%, #4759a5 4.17%, #273469 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: $white-1;
  }

  .statistics.first-tab-selected {
    border-top-left-radius: 0;
  }

  .tabs {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    transform: translateY(-100%);
  }

  .tabs label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 8px 8px 0 0;
  }

  .tabs label svg {
    fill: #273469;
  }

  .tabs label.active {
    background-color: #273469;
  }

  .tabs label.active svg {
    fill: #ffffff;
  }
}

@media screen and (min-width: 481px) {
  .tabs {
    display: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 720px) {
  .statistics {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 100%;
  }
}
