@import '../../styles/pallete.scss';

$color-text: $gray-2;

.list {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 6px;
}

.list li {
  display: flex;
}

@media screen and (max-width: 480px) {
  .text {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
}

@media screen and (min-width: 481px) {
  .text {
    margin-right: 12px;
    font-size: 12px;
    color: $color-text;
  }
}

@media screen and (min-width: 481px) and (max-width: 720px) {
  .text {
    margin-bottom: 8px;
  }
}
