.top-bar-right-actions {
  display: flex;
  align-items: center;
  margin-left: auto;
  & > :not(:last-child) {
    margin-right: 14px
  }
}

@media screen and (max-width: 480px) {
  .top-bar-right-actions {
    position: fixed;
    top: 20px;
    right: 16px;
  }
}
