.top-bar-right-actions {
  display: flex;
  align-items: center;
  margin-left: auto;
}

@media screen and (min-width: 481px) and (max-width: 720px) {
  .top-bar-right-actions {
    align-self: flex-start;
  }
}

@media screen and (max-width: 480px) {
  .top-bar-right-actions {
    position: fixed;
    top: 16px;
    right: 8px;
  }
}
