@import '../../styles/pallete.scss';

.container {
  width: 100vw;
  height: 100%;
}

.card {
  overflow: hidden;
  background-color: $white-1;
}

.header {
  margin-bottom: 24px;
  text-align: center;
}

.head {
  margin: 0;
  padding: 0 64px;
  font-size: 12px;
  font-weight: 400;
  color: $gray-7;
}

.logo {
  margin-bottom: 16px;
}

@media screen and (max-width: 480px) {
  .container {
    overflow: hidden;
  }

  .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 32px;
  }
}

@media screen and (min-width: 481px) {
  .container {
    overflow: auto;
    position: relative;
    display: grid;
    place-items: center;
    padding: 0 16px;

    &::after {
      content: "";
      z-index: -1;
      position: fixed;
      top: 50%;
      width: 160%;
      height: 100vh;
      display: block;
      border-radius: 50%;
      background-color: #FF3855;
      transform: rotate(-12deg);
    }
  }

  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 732px;
    min-height: 463px;
    border-radius: 20px;
    box-shadow: 0px 15px 39px rgba($black-1, 0.12);
  }
}
