.app {
  height: 100vh;
}

.top-bar {
  z-index: 999;
  position: sticky;
  display: flex;
  align-items: center;
  padding: 16px 0;
  margin-bottom: 4px;
  background-image: linear-gradient(to bottom, white, 95%, rgba(255, 255, 255, 0.5));
}

@media screen and (min-width: 481px) {
  .top-bar {
    top: 0;
  }

  .form {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .app {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content;
    background-color: #fafaff;
  }

  .top-bar {
    top: 125px;
    background-image: linear-gradient(to bottom, #fafaff, 95%, rgba(255, 255, 255, 0.5));
  }

  .form {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 721px) {
  .app {
    display: flex;
    max-width: 780px;
    margin: 0 auto;
  }
}
