@import 'resources/styles/pallete.scss';

$color-icon: $violet-2;

.app {
  height: 100vh;
}

.top-bar {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
}

.settings-menu {
  margin-right: 14px;
}

.logout {
  display: flex;
  fill: $color-icon;
}

@media screen and (max-width: 480px) {
  .app {
    background-color: #fafaff;
  }

  .logout {
    display: none;
  }
}

@media screen and (min-width: 721px) {
  .app {
    display: flex;
    max-width: 780px;
    margin: 0 auto;
  }
}
